@model IEnumerable<mvc.Models.Team>

@{
    ViewBag.Title = "List";
}

<h2>List of teams</h2>

<table class="table table-striped">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <div class="btn-group" role="group">
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default", @role = "button" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default", @role = "button" })
                    @Html.ActionLink("Remove", "Remove", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this item?');", @class = "btn btn-default", @role = "button" })
                </div>
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary" })

